/.qmake.stash
/Makefile
/Makefile.Debug
/Makefile.Release
/AGENTS.md
/BIN/
/ui_*.h
/debug/
/release/
/build/
/cmake-build-*/
/.vs/
*.user
*.autosave
*.pro.user.*
*.obj
*.o
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.idb
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
